.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 32px;
}

.button {
  width: 150px;
  font-size: 32px;
  padding: 1px;
  border: 2px solid rgb(0, 128, 128);
  color: rgb(0, 128, 128);
  background-color: white;
  border-radius: 2px;
  text-decoration: none;
}

.textbox {
    font-size: 32px;
    padding: 2px;
    width: 64px;
    text-align: center;
    margin-right: 8px;
  }

  .amountButton{
    width: 200px;
    font-size: 32px;
    border: 2px solid rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    background-color: white;
    border-radius: 2px;
  }
